.nav_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 1em 0;
    ul{
        display: inherit;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        li{
            padding: 0 1em;
        }
    }
}